{% extends 'base.html' %}
{% load i18n static %}
{% block title %} Lista de jugadores por tarjetas amarillas {% endblock %}
{% block content %}
<!-- Section Title -->
<div class="section-title" style="background:url(/static/img/background-fifa.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Encuentros </h1>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Encuentros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section Title -->

<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Dark Home -->
    <div class="dark-home paddings-50-50">
        <div class="container">
            <div class="row">
                <!-- end recent-results -->

                <!-- Top player -->
                <div class="col-lg-4">
                    <div class="player-ranking">
                        <h4 ><a style="color: white;" href="group-list.html">Jugadores por tarjetas amarillas</a></h4>
                        <div class="info-player">                           
                        </div>
                    </div>
                </div>
                <div style="display: flex;" class="container">
                    <div id="">
                    <center><h5 style="color: white;">Nombre</h5></center>
                        {% for l in jugadores_amarillas %}
                        <ul>
                            <li style="color:white"> {{l.nombre}}</li>
                        </ul>
                        {% endfor %} 
                    </div>
                      <div id="">
                    <center><h5 style="color: white;">Tarjetas</h5></center>
                        {% for n in result %}
                        <ul>
                            <li style="color:white">{{n.count}} </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <!-- End Top player -->
            </div>
        </div>
    </div>
    <div class="" style="background:url(img/slide/3.jpg);">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <!-- Content Central -->

    <!-- End Content Central -->

    <!-- Newsletter -->

    <!-- End Newsletter -->
</section>
<!-- End Section Area -  Content Central -->


<!-- footer-->

<!-- End footer-->

<!-- footer Down-->

{% endblock %}